<h1 class="headerAttri">
    Bagremov med
</h1>
<p class="paragraphAttri">
    Bagremov med najduze ostaje u tecnom stanju. Vazi za najkvalitetniji med i pogodan je za decu. Umreno slatkog ukusa.
    <br>
    Cena: 1200 din/kg
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/proizvod.jpg" alt="">
</div>

<hr>

<h1 class="headerAttri">
    Livadski med
</h1>
<p class="paragraphAttri">
    Livadski med sakupljen je od razlicitih trava i cvetova sa terena u okolini Deliblatske pescare. Sadrzi mnoga lekovita svojstva.
    <br>
    Cena: 1000 din/kg
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/proizvod.jpg" alt="">
</div>

<hr>

<h1 class="headerAttri">
    Suncokretov med
</h1>
<p class="paragraphAttri">
    Suncokretov med kristalizuje nakon par meseci. Izrazito slatkog ukusa.
    <br>
    Cena: 800 din/kg
</p>
<div class="divPosition">
    <img class="standardImageSize" src="/assets/images/proizvodi/proizvod.jpg" alt="">
</div>
