.headerAttri {
    text-align: center;
    font-size: xx-large;
}

.paragraphAttri {
    font-size: x-large;
    line-height: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.imageBottomMargin {
    margin-bottom: 2%;
}