<h1 class="headerAttri">
    Bagremov med
</h1>
<p class="paragraphAttri">
    Bagremov med je monofloralni med koji potiče od nektara cveta bagrema. Sezona bagrema u predelu Deliblatske peščare počinje u maju mesecu i traje otprilike mesec dana.
    <br>
    Ovaj med je blagog ukusa i prijatnih, neutralnih aroma. Bogat je vitaminom C i svojim sastavom deluje na opuštanje organizma.
    Za razliku od livadskog meda sadrži manju količinu polena, te je pogodniji za korišćenje kod osoba alergičnih na određene vrste polena.
    Bitan je za sportiste, koriste ga trudnice, a u narodnoj medicini koristi se kod stomačno - crevnih obolenja, obolenja jetre i respiratornih infekcija. Kao i svaki med i bagremov med poseduje blage antibakterijske i protivzapaljenske osobine.
    Odličan je antiseptik, stoga se može koristiti u zaceljivanju sitnih povreda i posekotina.
    Bagremov med je najpogodniji za ishranu dece, a u ishrani beba se može uvesti od navršenih godinu dana života.
    <br>
    Vreme za koji bagremov med kristalizuje značajno je duže u odnosu na livadski med.
    <br>
    Naš med je 100% prirodan, vrcanjem se direktno iz pčelinjeg saća ubacuje u tegle.
    <br>
    Cena: 1200 din/kg
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/teglabagremovog.webp" alt="">
</div>





<hr>
<h1 class="headerAttri">
    Livadski med
</h1>
<p class="paragraphAttri">
    Livadski med potiče od raznih cvetnih vrsta koje rastu na obodu Deliblatske peščare. On je tamnije boje, jačih mirisa i ukusa od bagremovog meda, dok mu je vreme kristalizacije manje u odnosu na Bagremov med. Kao i sve druge vrste meda i livadski med sadrži vitamine i minerale. 
    <br>
    Ukus i aroma mu variraju u zavisnosti koja biljna vrsta preovlađuje u medu. 
    <br>
    Treba imati u vidu da usled prisustva dosta različitog polena treba biti obazriv te ga ne preporučujemo osobama sklonim alergijama.
    <br>
    Naš med je 100% prirodan, vrcanjem se direktno iz pčelinjeg saća ubacuje u tegle.
    <br>
    Cena: 1000 din/kg
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/teglalivadskog.webp" alt="">
</div>





<hr>
<p class="paragraphAttri">
    Na slici ispod možete videti razliku u boji između ova dva meda. Nakon što ste naučili razlike između bagremovog i livadskog meda, možete napraviti izbor koji Vam najviše odgovara.
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/bagremvslivada.webp" alt="">
</div>




<hr>
<h1 class="headerAttri">
    Rakija od meda
</h1>
<p class="paragraphAttri">
    U našem asortimanu proizvoda nudimo i rakiju napravljenu od meda. Moramo naglasiti da ovo nije rakija "medovača" koja se dobija ubacivanjem meda u voćne rakije, već rakija koja je dobijena direktno vrenjem livadskog meda.
    <br>
    Cena: 2000 din/l
</p>
<div class="divPosition">
    <img class="standardImageSize imageBottomMargin" src="/assets/images/proizvodi/rakijaodmeda.webp" alt="">
</div>


<hr>
<p class="paragraphAttri">
    Naše proizvode možete naručiti pozivom na broj, slanjem SMS ili viber poruke, kao i slanjem e-mail-a na jednu od naših adresa.
    <br>
    Proizvode možete preuzeti i lično u Kovinu.
</p>

