<div>
    <h1 class="headerAtt">
        O Deliblatskoj peščari
    </h1>
    <p class="paragraphAtt">
        U jugoistočnom delu panonske nizije, u Banatu, nalazi se najveća evropska kontinentalna peščara koja obuhvata blizu 35.000 hektara površine. Elipsastog je oblika i orijentisana je u pravcu jugoistok-severozapad. Nastala je tokom ledenog doba od moćnih naslaga eolskog silikatno-karbonatnog peska. U savremenom periodu vetar Košava oblikovao je izražen dinski reljef, čije su nadmorske visine između 70 i 200 metara. Umereno kontinentalna klima, odsustvo površinskih vodotokova i peščana zemljišta uslovila su osobene životne zajednice, koje su izdvojene u posebnu biljno-geografsku oblast Deliblaticum.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/pescara.jpg" alt="">
    </div>
    <p class="paragraphAtt">
        Bogatstvo flore ovog područja se ogleda u postojanju oko 900 vrsta viših biljaka, od kojih su mnoge relikti i rariteti, kao i vrste koje su u svom rasprostranjenju ograničene na Panonsku niziju. Jedino se ovde, u odnosu na čitav prostor Srbije nalaze: banatski božur, stepski božur (Paeonia tenuifolia), Pančićev pelen, šerpet i Degenova kockavica (Fritillaria gracilis). Svoje stanište ovde je našlo i 20 vrsta orhideja. Prirodnu autohtonu šumsku vegetaciju predstvljaju šume bele lipe i krupnolisnog medunca. Deliblatska peščara je u vegetacijskom smislu mešavina stepe i šumo-stepe, koju odlikuje mozaik travnih, žbunastih i šumskih staništa.

        Zbog prisustva velikog broja vrsta ptica, od kojih su mnoge retke i ugrožene, ovo područje je uvršćeno u najznačajnija staništa ptica u Evropi – IBA područje. Iz grupe grabljivica, koje su najugroženije ptice, zastupljene su vrste kao što su: banatski soko, orao krstaš i orao kliktaš. Njihovo pojavljivanje uslovljeno je pašnjačkim površinama i prisustvom tekunice, koja predstavlja osnov njihove ishrane. Od stanovnika životinjskog carstva peščare, ovom prilikom izdvajamo prisustvo: vuka, jelena, srne i divlje svinje.
        
        Prirodne karakteristike i jedinstvenost ovog kraja čine ga pogodnim za rekreaciju, lov i ribolov, nautički turizam, a pre svega ekološki turizam. U cilju zaštite ovog područja, Deliblatska peščara je proglašena za specijalni rezervat prirode.[1][2]
        
        Od 2002. godine, Deliblatska peščara nalazi se na preliminarnoj listi Uneska kao područje izuzetnih prirodnih vrednosti.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/pescara1.jpg" alt="">
    </div>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/pescara2.jpg" alt="">
    </div>
    <p class="paragraphAtt">
        Edukativni centar „Čardak”  otvoren je 2010. godine. Namena Centra je da kroz prezentaciju i organizovanu edukaciju o principima održivog gazdovanja, nadzoru i upravljanju, poveća svest korisnika područja ka neminovnosti zaštiti prirode i sprečavanju opadanja biološke raznovrsnosti. Kapacitet Edukativnog centra „Čardak“  čine tri objekta ukupne površine 320 m2. Osnivanje multifunkcionalnog Edukativnog centra, okruženog obeleženim stazama koje su opremljene informativnim tablama, odmorištima i osmatračnicama, omogućuje upotpunjen  boravak u prirodi prvenstveno đacima, studentima i stručnjacima bioloških nauka. Ovde će se moći dobiti informacije i potražiti pomoć, uzeti  propagandni materijal, kupiti autentični suveniri i pripremati lokalni i međunarodni projekti.

        Školsko rekreativni centar „Čardak“ smešten je u šumovitom delu Peščare na svega 7 kilometra od sela Deliblato. Sasastoji se od upravne zgrade, restorana, 7 paviljona (dva renovirana, sa 130 ležajeva), terena za male sportove i prateće sadržaje. Čardak je okružen stazama koje su opremljene informativnim tablama, odmorištima i vidikovcima, omogućava upotpunjen  boravak u prirodi učenicima, đacima, studentima i posebno stručnjacima bioloških nauka.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/pescara3.jpg" alt="">
    </div>
    
</div>
