<div>
    <h1 class="headerAtt">
        O Deliblatskoj peščari
    </h1>
    <p class="paragraphAtt">
        U jugoistočnom delu panonske nizije, u Banatu, nalazi se najveća evropska kontinentalna peščara koja obuhvata blizu 35.000 hektara površine. Elipsastog je oblika i orijentisana je u pravcu jugoistok-severozapad. Nastala je tokom ledenog doba od moćnih naslaga eolskog silikatno-karbonatnog peska. U savremenom periodu vetar Košava oblikovao je izražen dinski reljef, čije su nadmorske visine između 70 i 200 metara. Umereno kontinentalna klima, odsustvo površinskih vodotokova i peščana zemljišta uslovila su osobene životne zajednice, koje su izdvojene u posebnu biljno-geografsku oblast Deliblaticum.
        <br>
        Tokom 19. veka Deliblatska peščara pripadala je teritoriji Austrougarske monarhije. Mariji Tereziji, koja je u tom periodu bila na čelu monarhije, nije se sviđalo širenje peščare preko obradivog zemljišta u regionu, kao ni prljave kiše koje su u Beču padale nakon snažnih udara košave. Kako bi rešila problem, kreće u pošumljavanje Deliblatske peščare 1818. godine.
        <br>
        Deliblatska peščara nalazi se na samo 50ak kilometara od Beograda.
    </p>
    <div>
        <iframe class="standardImageSize lastImageBottomMargin" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d723597.7855075201!2d20.330982697538378!3d44.89172763092189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4750613146b8e9f5%3A0x280ccd5c9773ad92!2z0JTQtdC70LjQsdC70LDRgtGB0LrQsCDQv9C10YjRh9Cw0YDQsA!5e0!3m2!1ssr!2srs!4v1667815000573!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>











    <hr>
    <h1 class="headerAtt">
        Flora i fauna
    </h1>
    <p class="paragraphAtt">
        Bogatstvo flore ovog područja se ogleda u postojanju oko 900 vrsta viših biljaka, od kojih su mnoge relikti i rariteti, kao i vrste koje su u svom rasprostranjenju ograničene na Panonsku niziju. Jedino se ovde, u odnosu na čitav prostor Srbije nalaze: banatski božur, stepski božur (Paeonia tenuifolia), Pančićev pelen, šerpet i Degenova kockavica (Fritillaria gracilis). Svoje stanište ovde je našlo i 20 vrsta orhideja. Prirodnu autohtonu šumsku vegetaciju predstvljaju šume bele lipe i krupnolisnog medunca. Deliblatska peščara je u vegetacijskom smislu mešavina stepe i šumo-stepe, koju odlikuje mozaik travnih, žbunastih i šumskih staništa.

        Zbog prisustva velikog broja vrsta ptica, od kojih su mnoge retke i ugrožene, ovo područje je uvršteno u najznačajnija staništa ptica u Evropi – IBA područje. Iz grupe grabljivica, koje su najugroženije ptice, zastupljene su vrste kao što su: banatski soko, orao krstaš i orao kliktaš. Njihovo pojavljivanje uslovljeno je pašnjačkim površinama i prisustvom tekunice, koja predstavlja osnov njihove ishrane. Od stanovnika životinjskog carstva peščare, ovom prilikom izdvajamo prisustvo: šakala, jelena, srne i divlje svinje.
        
        Prirodne karakteristike i jedinstvenost ovog kraja čine ga pogodnim za rekreaciju, lov i ribolov, nautički turizam, a pre svega ekološki turizam. U cilju zaštite ovog područja, Deliblatska peščara je proglašena za specijalni rezervat prirode.
        
        Od 2002. godine, Deliblatska peščara nalazi se na preliminarnoj listi Uneska kao područje izuzetnih prirodnih vrednosti.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/jelenwwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor: www.vojvodinasume.rs </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/divljasvinjawwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource lastImageBottomMargin"> Izvor: www.vojvodinasume.rs </p>








    <hr>
    <h1 class="headerAtt">
        Školsko rekreativni centar „Čardak“
    </h1>
    <p class="paragraphAtt">
        Školsko rekreativni centar „Čardak“ smešten je u šumovitom delu peščare na svega 7 kilometra od sela Deliblato. Sastoji se od upravne zgrade, restorana, 7 paviljona (dva renovirana, sa 130 ležajeva), terena za male sportove i prateće sadržaje. Čardak je okružen stazama koje su opremljene informativnim tablama, odmorištima i vidikovcima te omogućava upotpunjen  boravak u prirodi učenicima, đacima, studentima i posebno stručnjacima bioloških nauka.
        <br>
        Čardak je idealno mesto za jednodnevni izlet. Možete igrati fudbal, košarku, odbojku ili neki drugi sport na otvorenom, a na raspolaganju vam je i teretana na otvorenom. Tu su i obeležene staze različite dužine kojima možete proći kroz samo srce šume, videti puno biljaka, a ako imate sreće i susret sa nekom od životinja nije redak.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/cardaksadronawwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor: www.vojvodinasume.rs </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/cardaktereniwwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor: www.vojvodinasume.rs </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/cardakteretanawwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor: www.vojvodinasume.rs </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/cardakstazewwwvojvodinasumers.jpg" alt="">
    </div>
    <p class="imageSource lastImageBottomMargin"> Izvor: www.vojvodinasume.rs </p>







    <hr>
    <h1 class="headerAtt">
        Zagajička brda
    </h1>
    <p class="paragraphAtt">
        Kako je tokom dugog niza godina peščarom duvala Košava, drevne peščane dine sa dna Panonskog mora dobila su obilke manjih brda. Vremenom se iznad peska formirao tanak sloj zemlje i upravo ovako su nastala zelena Zagajička brda. Pripadaju Specijalnom rezervatu prirode Deliblatska peščara i nalaze se na teritoriji opštine Bela Crkva, u ataru sela Grebenac.

        Jedinstvena priroda Zagajičkih brda je idealna ne samo za ljubitelje prirode i pešačenja, već i za strastvene fotografe. Staze za šetnju nisu naporne, veoma su zanimljive i živopisne. Ovi neobični predeli su jako interesantan predlog za jednodnevni izlet. Kući se provereno vraćate sa gomilom peska u patikama i punim plućima svežeg vazduha.
    </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/zbrdadvodelnawwwmojsvetubojirs.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor : www.mojsvetuboji.com </p>
    <div>
        <img class="standardImageSize" src="/assets/images/pescara/zbrdadrvowwwmojsvetubojirs.jpg" alt="">
    </div>
    <p class="imageSource"> Izvor : www.mojsvetuboji.com </p>
    <div>
        <img alt="Izvor : www.mojsvetuboji.com" class="standardImageSize" src="/assets/images/pescara/zbrdadolinawwwmojsvetubojirs.jpg" alt="">
    </div>
    <p class="imageSource lastImageBottomMargin"> Izvor : www.mojsvetuboji.com </p>








    <hr>
    <h1 class="headerAtt">
        Jezero Kraljevac
    </h1>
    <p class="paragraphAtt">
        Specijalni rezervat prirode „Kraljevac” se nalazi usred vojvođanske ravnice, nekadašnjeg Panonskog mora, na samom rubu Deliblatske peščare, u živopisnom selu Deliblatu, poput neke oaze mira i tišine.
        Odlukom Vlade Republike Srbije 2009. godine Specijalni rezervat prirode „Kraljevac” stavljen je pod zaštitu države kao prirodno dobro od izuzetnog značaja I kategorije, ukupne površine oko 264 ha.
        Jezero Kraljevac sa plutajućim ostrvima, okolnim tršćacima, šumama, livadama i pašnjacima odlikuje se bogatom i raznovrsnom florom i faunom.
        Od biljnih vrsta prisutna je barska paprat koja datira iz ledenog doba i močvarna iva. Plutajuća i stalna ostrva sa vodenim oknima i podzemnim izvorima koji ne mrznu ni tokom najvećih zima predstavljaju značajno stanište za oko 25 vrsta riba od kojih su najznačajnije mrguda, linjak, barski karaš i čikov, uključujući i ugroženu umbru. U čistoj i mirnoj vodi jezera često se mogu videti i vidre.
        Rezervat predstavlja značajno gnezdilište retkih vrsta ptica močvarica, oko 70 vrsta, među kojima se ističu mrka i žuta čaplja, gak, čapljica, eja močvarica, kao i globalno ugrožena patka njorka. Jezero Kraljevac je pogodno mesto gnežđenja velikih kolonija pčelarica a ima i oko 20 vrsta dnevnih leptira.
        Rezervat pruža posetiocima izvanredne mogućnosti za bavljenje sportskim ribolovom, pešačenje, posmatranje ptica i fotografisanje prirode.
    </p>
    <div>
        <img alt="Izvor : www.mojsvetuboji.com" class="standardImageSize" src="/assets/images/pescara/jezerosavasarista.jpg" alt="">
    </div>
    <div>
        <img alt="Izvor : www.mojsvetuboji.com" class="standardImageSize" src="/assets/images/pescara/jezerokroztrsku.jpg" alt="">
    </div>
    <div>
        <img alt="Izvor : www.mojsvetuboji.com" class="standardImageSize" src="/assets/images/pescara/jezerocamac.jpg" alt="">
    </div>
</div>
