<div>

      
    <h1 class="headerAttr">
        O našem pčelinjaku
    </h1>
    <p class="paragraphAttr">
        Osnivač pčelinjaka Dragan Kovač rodom je iz sela Deliblato koje je smešteno na samoj ivici Deliblatske pesčare. Na mestu gde je njegov deda Sava 
        imao vinograd još u periodu između dva svetska rata, 2017. godine napravio je svoj pčelinjak.
        <br>
        Počevši kupovinom svojih prvih 5 košnica, zakoračio je u pčelarske vode. Gazdinstvo Kovač sada broji oko 45 društava, smeštenih u košnice tipa LR.
        Dragan je član SPOS-a (Savez Pčelarskih Organizacija Srbije) kao i pčelarskog udruženja "Deliblatski med".
        <br>
        Teren na kome se pčelinjak nalazi omogućava i do 3 paše godišnje. Početkom maja kreće Bagremova paša koja traje nekih 20ak dana. U julu počinje cvetanje suncokreta koji je veoma zastupljen na njivama uz ivicu Deliblatske peščare. Suncokretova paša završava se u avgustu. Medjutim, između ove dve paše i nakon završetka suncokretove paše, pčele mogu skupljati livadski med sa livada koje se nalaze na obodu same šume.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/bagremovapasa2022.webp" alt="">
    </div>
    <p class="imageDescription"> Bagremova paša 2022. godine </p>
    



    <p class="paragraphAttr">
        Tokom zime naše pčele ostaju na pčelinjaku zazimljene. Košnicama se smanjuju leta, čime se čuva unutrašnja toplota, a pčelama je ostavljen med kao hrana.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjakzimi.webp" alt="">
    </div>
    



    <p class="paragraphAttr">
        Od 2022. godine, u saradnji sa svojim kolegom Brankom, Dragan je počeo da puni kontejner koji ima mesta za 44 košnice. Nadamo se da će uskoro biti napunjen novim društvima koji će nam donositi još meda.
    </p>
    <div class="divPosition">
        <img class="standardImageSize lastImagesBottomMargin" src="/assets/images/pcelinjak/kontejner.webp" alt="">
    </div>





    <hr>
    <h1 class="headerAttr">
        Lokacija pčelinjaka
    </h1>
    <div class="divPosition">
        <iframe class="standardImageSize lastImagesBottomMargin" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17757.82364714426!2d21.0215195196944!3d44.880284121663095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb94cfd584f1bf6b8!2zNDTCsDUyJzI1LjUiTiAyMcKwMDEnNTYuMyJF!5e1!3m2!1ssr!2srs!4v1667815287590!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>






    <hr>
    <h1 class="headerAttr">
        Još slika sa pčelinjaka
    </h1>=
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak1.webp" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak2.webp" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/sacesrce.webp" alt="">
    </div>
    <p class="imageDescription"> Ono kad ti pčele naprave srce </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pregledanjepcela.webp" alt="">
    </div>
    <p class="imageDescription"> Pregledanje društva </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/vrcanjebagrema2021.webp" alt="">
    </div>
    <p class="imageDescription"> Vrcanje Bagremovog meda 2021. godine </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/otklapanjemeda.webp" alt="">
    </div>
    <div>
        <p class="imageDescription"> Otklapanje meda prilikom vrcanja </p>
    </div>
    <p>
        <br>
    </p>
</div>
