<div>
    <h1 class="headerAttr">
        O našem pčelinjaku
    </h1>
    <p class="paragraphAttr">
        Dragan Kovač rodom iz sela Deliblato kod Kovina, osnovao je svoje pčelarsko gazdinstvo na obodu Deliblatske peščare na imanju svoga dede. <br>
        Pčelarstvom je počeo da se bavi 2015. godine kupivši svojih prvih 5 košnica. Gazdinstvo sada broji preko 30 društava smeštene u košnice LR tipa.
        Dragan je član pčelarskog udruženja "Deliblatski med".
        <br>
        Teren na kome se pčelinjak nalazi omogućava 3 paše. Početkom maja kreće Bagremova paša i ona se završava početkom juna. U julu počinje cvetanje suncokreta koji je veoma zastupljen na njivama uz ivicu Deliblatske peščare. Suncokretova paša završava se u avgustu. Medjutim, između ove dve paše i nakon završetka suncokretove paše, naše pčele skupljaju livadski med sa livada koje se nalaze oko same šume.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak.jpg" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak1.jpg" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak2.jpg" alt="">
    </div>
    <p class="paragraphAttr">
        Tokom zime naše pčele ostaju na pašnjaku zazimljene. Košnice se zatvaraju kako ne bi gubile na unutrašnjoj toploti, a pčelama je ostavljen med kao hrana.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak4.jpg" alt="">
    </div>
    <p class="paragraphAttr">
        Od ove godine počeli smo da punimo kontejner koji ima mesta za 44 košnice. Nadamo se da će uskoro biti napunjen novim društvima koji će nam donositi još meda.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak3.jpg" alt="">
    </div>
</div>
