<div>

      
    <h1 class="headerAttr">
        O našem pčelinjaku
    </h1>
    <p class="paragraphAttr">
        Osnivač pčelinjaka Dragan Kovač rodom je iz sela Deliblato koje je smešteno na samoj ivici Deliblatske pesčare. Na mestu gde je njegov deda Sava 
        imao vinograd još u periodu između dva svetska rata, 2017. godine napravio je svoj pčelinjak.
        <br>
        Počevši kupovinom svojih prvih 5 košnica, zakoračio je u pčelarske vode. Gazdinstvo Kovač sada broji oko 45 društava, smeštenih u košnice tipa LR.
        Dragan je član SPOS-a (Savez Pčelarskih Organizacija Srbije) kao i pčelarskog udruženja "Deliblatski med".
        <br>
        Teren na kome se pčelinjak nalazi omogućava i do 3 paše godišnje. Početkom maja kreće Bagremova paša koja traje nekih 20ak dana. U julu počinje cvetanje suncokreta koji je veoma zastupljen na njivama uz ivicu Deliblatske peščare. Suncokretova paša završava se u avgustu. Medjutim, između ove dve paše i nakon završetka suncokretove paše, pčele mogu skupljati livadski med sa livada koje se nalaze na obodu same šume.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/bagremovapasa2022.webp" alt="">
    </div>
    <p class="imageDescription"> Bagremova paša 2022. godine </p>
    



    <p class="paragraphAttr">
        Tokom zime naše pčele ostaju na pčelinjaku zazimljene. Košnicama se smanjuju leta, čime se čuva unutrašnja toplota, a pčelama je ostavljen med kao hrana.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjakzimi.webp" alt="">
    </div>
    
    <p class="paragraphAttr">
        Od 2022. godine, u saradnji sa svojim kolegom Brankom, Dragan je počeo da puni kontejner koji ima mesta za 44 košnice.
    </p>
    <div class="divPosition">
        <img class="standardImageSize lastImagesBottomMargin" src="/assets/images/pcelinjak/kontejner.webp" alt="">
    </div>


    <h1 class="headerAttr">
        Sezona 2023
    </h1>
    <p class="paragraphAttr">
        Sezona 2023 bila je veoma uspesna za Dragana i njegovog kolegu Branka. 
        <br>
        Tokom proleća LR košnice bile su smeštene na Draganovom pčelinjaku, gde su skupljale Bagremov med. U isto vreme, napunjeni kontejner sa košnicama stajao je kod Branka na salašu (nadomak Kovina) gde su skupljale livadski med. Kada je došlo vreme za vrcanje, ramovi puni meda sa Draganovog pčelinjaka transportovani su na Brankov salaš, gde se med vrcao.
        <br>
        Kada je Bragremova paša završena, sve košnice su prebačene na Brankov salaš gde su pčele skupljale Suncokretov med tokom leta. Med je vracan u avgustu na Brankovom salašu.
    </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/bagrem2023.webp" alt="">
    </div>
    <div>
        <p class="imageDescription"> Bagremova paša 2023. godine </p>
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/suncoket2023.webp" alt="">
    </div>
    <div>
        <p class="imageDescription"> Suncok(R)etova paša 2023. godine </p>
        <br>
    </div>


    <hr>
    <h1 class="headerAttr">
        Lokacija pčelinjaka Kovač
    </h1>
    <div class="divPosition">
        <iframe class="standardImageSize lastImagesBottomMargin" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d554.9938926278179!2d21.03178418807609!3d44.87386554907699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47506326f633c5f7%3A0x13a78ec8c8a99b97!2zUMSNZWxpbmphayBLb3ZhxI0!5e1!3m2!1ssr!2srs!4v1667899028943!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <hr>
    <h1 class="headerAttr">
        Lokacija Brankovog salaša 
    </h1>
    <div class="divPosition">
        <iframe class="standardImageSize lastImagesBottomMargin" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.674574232435!2d21.028098584134003!3d44.783985703988904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47508be5413171bf%3A0xa77ddcfecae35da0!2sSlatki%20Sala%C5%A1%2005052020!5e1!3m2!1ssr!2srs!4v1695379724913!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <hr>
    <h1 class="headerAttr">
        Još slika sa pčelinjaka
    </h1>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak1.webp" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pcelinjak2.webp" alt="">
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/sacesrce.webp" alt="">
    </div>
    <p class="imageDescription"> Ono kad ti pčele naprave srce </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/pregledanjepcela.webp" alt="">
    </div>
    <p class="imageDescription"> Pregledanje društva </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/vrcanjebagrema2021.webp" alt="">
    </div>
    <p class="imageDescription"> Vrcanje Bagremovog meda 2021. godine </p>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/otklapanjemeda.webp" alt="">
    </div>
    <div>
        <p class="imageDescription"> Otklapanje meda prilikom vrcanja </p>
    </div>
    <div class="divPosition">
        <img class="standardImageSize" src="/assets/images/pcelinjak/vrcaljka.webp" alt="">
    </div>
    <div>
        <p class="imageDescription"> Vrcanje meda iz ramova </p>
    </div>
    <p>
        <br>
    </p>
</div>
