.headerAttr {
    text-align: center;
    font-size: xx-large;
}

.paragraphAttr {
    font-size: x-large;
    line-height: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.imageDescription {
    margin-left: 25%;
}

.lastImagesBottomMargin {
    margin-bottom: 5%;
}

@media screen and (max-width: 920px) {
    .paragraphAttr{
        font-size: large;
    }
    .headerAttr{
        font-size: x-large;
    }
    .imageDescription{
        margin-left: 5%;
    }
}